# Byte-compiled
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution
build/
dist/
*.egg-info/
*.egg

# Testing
.pytest_cache/
.coverage
htmlcov/

# Docs
docs/build/

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv

# pixi
.pixi/
pixi.lock

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
